body{
	background-color:forestgreen;
}
*{
	padding: 0;
	margin: 0;
}
a{text-decoration: none;
	
}
ul,li{
	list-style: none;
}


.wrap{
	width: 1400px;
	padding: 0 20px;
	margin: 0 auto;
}

#header{
background-color:#c37766;
height: 60px;

	
}

.banner {
	/* background-color: #808080; */
	/* display: block;
	margin: 0 auto; */
	/* text-align: center; */
	
	
}
.banner img{
	display: block;
	margin: 0 auto;
}
#logo{
	/* background: khaki; */
float: left;
height: 35px;
margin: 10px 0;
}

#nav{
	background-color: cadetblue;
}
#nav li{
	float: right;
	/* margin-left: 30px; */
height: 35px;
line-height: 60px;
/* background-color: #D8BFD8; */
}
#nav li a{
	color: #D8BFD8;
	height: 60px;
	width: 60px;
	padding: 0 15px;
	display: block;
	/* background-color: #F0E68C; */
	text-align: center;
	text-decoration: none;
}
#nav li a:hover{
	background-color: cadetblue;
	
}

#logo{
	float:left;
}
#firsta{
	background-color: cadetblue;
}


.wrap{
	background-color: #ccc;
	
}
#main{
background-color: darkseagreen;	

}
.about{
	background-color: #fefbeb;
	
	height: 300px;
}
.jineng{
	background-color: #D8BFD8;
	height: 300px;
	width: 1400px;
}
.zuopin{
	background-color: #fefbeb;
	height: 250px;
	width: 1400px;
}
.pingjia{
	background-color: #D8BFD8;
	height: 250px;
	width: 1400px;
}

.w1400{
	
	width: 1400px;
	
	/* margin: 0 auto; */
	overflow: hidden;
	
}
.left img{
	width:250px;
	float: left;
	margin: 5px 0;
	
}
.left{float: left;
	/* width: 700px; */
	margin:5px 30px;
}
.left1{
	float: left;
	margin: 30px 30px;
}
.right{
	float: right;
	margin: 70px 150px;
}
.right1{
	float: right;
	margin: -200px -620px
		
	}
/* 作品	 */

.aaa img{
	height: 150px;
	float: left;
	margin:0px 25px;
}
.ccc{
	float: right;
	margin: -150px 20px;
	
}
.bbb{
	
	float: left;
	margin: 0 400px;
}

/* #footer{
	background-color: #000000;
	height: 100px;
	width: 1440px;
} */
#footer{
	background-color: #c37766;
	height: 200px;
	width: 1440px;
	
	
}
.box{
	/* width: 200px; */
	
	float: left;
	margin: -25px 100px;
	/* background-color: #5F9EA0; */
}
/* .box img{
	width: 80px;
} */
 .tubiao1{
	float: left;
	width: 200px;
	margin:30px 10px;
}
 .tubiao{
	float: left;
	width:200px ;
	margin:30px 100px ;
}
/* 

} */